@import url("https://fonts.googleapis.com/css2?family=Mali&display=swap");

.container {
  max-width: 50%;
  margin: 100px 350px;

}

svg {
  display: block !important;
}

input {
  margin: 8px 0;
}

label {
  font-weight: 700;
}

.title {
  margin-top: 10px;
}

.field h1 {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  text-shadow: 2px 2px 2px #616161;
}

html {
  min-height: 100vh;
}

body {
  /* min-height: 100vh; */
  background-color: #9fc4a5;
  font-family: "Mali", sans-serif;
  color: white !important;
 
}

label,
h1 {
  color: white !important;
}

h1 {
  z-index: 20;
  position: relative;
}










.flower-right {
  position: absolute;
  height: 100px;
  top: 20px;
  right: 0px;
  z-index: 1;
}

.flower-left {
  position: absolute;
  height: 100px;
  left: 0px;
  top: 20px;
}



.translate {
  z-index: 20;
  position: relative;
}

.translate h1 {
  position: relative;
  text-shadow: 2px 2px 2px #848484;
  text-align: center;
  background-color: #d3dbb7;
  padding: 20px;
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
}


